<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div class="left-container">
            <div v-for="(item,counter) in items" class="image-container" :class="iscurrent(counter)">
                <img :src="item.image" alt="">
                <div class="title">{{item.title}}</div>
                <div class="text">{{item.text}}</div>
            </div>
        </div>
        <div class="slider">
            <div class="chevron upper" @click="downcurrent">
                <i class="fas fa-chevron-up"></i>
            </div>
            <div class="chevron lower" @click="upcurrent">
                <i class="fas fa-chevron-down"></i>
            </div>
            <img v-for="(item,counter) in items" :class="iscurrent(counter)" @click="setcurrent(counter)" class="slider-img" :src="item.image" alt="">
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type="text/javascript" src="myscript.js"></script>
</body>
</html>